body {
    background-image: url("images/table.png");
    background-size: cover;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

h1 {
    color: goldenrod;
    
}

#message-el {
    font-style: italic;
}

button {
    background: goldenrod;
    width: 150px;
    color: #016f32;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}